body {
	color: black;
	text-align: center;
	background-color: #732C65;
}
label {
	font-size: 30px;
}
.container {
	color: #732C65;
	background-color: #D982BA;
	margin-top: 15px;
	border:30px solid #C62A86;
	border-radius: 25px;
	
}
input {
	margin-right:15px;

}



a { 
	color: white;
 }

 ul{
 	list-style: none;
 }